# Go2RTC basic auth (for Vite proxy)
GO2RTC_USER=
GO2RTC_PASS=

# MQTT EMQX Cloud Configuration
VITE_MQTT_HOST=wss://ra520107.ala.asia-southeast1.emqxsl.com:8084/mqtt
VITE_MQTT_USERNAME=your_username
VITE_MQTT_PASSWORD=your_password
VITE_MQTT_TOPIC=mekatro/monitoring
